/* css libraries-:bootstrap,tailwindcss-can call library bur dont know,
shadcn libraries,aceternity,flowbite and ant design is loved by corporates */

p {
  font-size: 16px;
  line-height: 1.5;
  color: red;
}
